{{ define "head" }}
    <link rel="stylesheet" type="text/css" media="screen" href="/index/main.css" />
{{ end }}
{{ define "title" }}Home{{ end }}
{{ define "header" }}Home{{ end }}
{{ define "body" }}
    <a href="/judge" id="judge-link">Judges</a>
    <a href="/display">Displays</a>
    <a href="/results">Results</a>
    <a href="/admin" class="login-required">Manage</a>
{{ end }}
{{ define "js" }}
    <script>
        TPZ.httpGet("/auth/judge-login-required", (data) => {
            if (data == "1") {
                TPZ.getElementById("judge-link").classList.add("login-required");
            }
            prepareLoginDropdown();
        });
    </script>
{{ end }}
{{ define "footer" }}{{ end }}