{{ define "head" }}
    <link rel="stylesheet" type="text/css" media="screen" href="display.css" />
{{ end }}
{{ define "title" }}Display Home{{ end }}
{{ define "header" }}Display Home{{ end }}
{{ define "body" }}
<div id="competition-name-container" class="float-center-container">
    <div id="competition-name" class="float-center"></div>
</div>
<div id="content" class="container">
</div>
{{ end }}
{{ define "js" }}
    <script src="/static/notify.js"></script>
    <script src="display.js"></script>
{{ end }}
{{ define "footer" }}{{ end }}