.navbar {
    background-color: firebrick;
}

.footer {
  position: absolute;
  bottom: 0;
}

#conn-info {
  font-size: 0.4em;
  opacity: 0.5;
  float: right;
  padding: 1em;
}

#ping {
  padding-left: 1em;
}

.btn-theme {
  color: #fff;
  background-color: firebrick;
  border-color: firebrick;
}

.btn-theme.active {
  background-color: rgb(143, 26, 26);
}

.btn-group-vertical {
  align-items: end;
  vertical-align: top;
}

#header {
  cursor: pointer;
}

.btn.judge-select {
  width: 200px;
}

#ring-group {
  padding-left: 10px;
}

.btn.ring-select {
  width: 150px;
}

#connection-status-label {
  margin: 0 auto;
}

.panel {
  padding: 10px 0;
}

#event-panel {
  font-size: 20px;
}

.event-panel-spacing {
  padding-left: 10px;
}

#next-competitor-button {
  margin-left: 25px;
}

#final-score-container {
  font-size: 1.5em;
}

#adjustment-panel {
  margin-top: 1rem;
}

#adjust-minus {
  font-size: 2em;
  font-weight: bold;
}

.score-input {
  font-size: 2em;
  width: 2.2em;
}

#score-hint {
  font-weight: bold;
}

#rescore-btn {
  margin-left: 15px;
}

#deduction-results {
  font-weight: bold;
  font-size: 1.5em;
}

#deduction-table > caption {
  caption-side: top;
}

#deduction-table > tr > td {
  padding-left: 3px;
  padding-right: 3px;
  border: solid 1px;
}

.deduction-code {
  font-size: 2em;
  width: 1.5em;
  border-style: solid;
  margin-right: 10px;
}

.applied {
  font-weight: bold;
}

.deduction-focus {
  border-color: firebrick;
}

.deduction-remove {
  margin-right: 15px;
}

.deduction-invalid {
  background-color: lightcoral;
}

.nandu thead td {
  color: gray;
  padding: 5px;
}

thead tr, tbody tr {
  display: inline-flex;
  cursor: pointer;
}

tbody tr {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-top: 1px;
}

#nandu-table th, #nandu-table td {
  border: 1px solid gray;
}

#nandu-table tr {
  display: table-row;
  text-align: center;
}

#nandu-sheet {
  width: 575px;
}

#nandu-sheet td, #nandu-sheet th {
  border-top: none;
}

.nandu-code {
  width: 70px;
  text-align: right;
}

.nandu-name {
  width: 460px;
}

.nandu-mark {
  color: #555;
  font-family: consolas, monospace;
}

.nandu-success {
  background-color: lightgreen;
}

.nandu-fail {
  background-color: lightcoral;
}
